@{
    Layout = "_Layout";
}

@model Factory.Models.Machine
<h2>Edit Machine Details</h2>

<h3>Update the information for: @Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm("Update", "Machines"))
{
    @Html.HiddenFor(model => model.MachineId)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    <input type="submit" value="Update Machine">
}