<div class="footer">
    <span>@Html.ActionLink("Home", "Index", "Home")</span>
    <span>@Html.ActionLink("Engineers", "Index", "Engineers")</span>
    <span>@Html.ActionLink("Machines", "Index", "Machines")</span>
</div>