@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>Engineer</h2>
<hr>
<h3>Add a machine to engineer: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Add Machine" />
}