@{
    Layout = "_Layout";
}
@model Factory.Models.Engineer

<h2>Delete Engineer</h2>

@Html.DisplayNameFor(model => model.Name) @Html.DisplayFor(model => model.Name)
<br>
@using (Html.BeginForm("Destroy", "Engineers", new { id = Model.EngineerId }))
{
    <input type="submit" value="Delete" />
}