@{
    Layout = "_Layout";
}
@using Factory.Models

<h2>Engineers</h2>
<p>@Html.ActionLink("New Engineer", "New", "Engineers")</p>

<h3>Engineers On Staff</h3>
@foreach (Engineer engineer in @Model)
{
    <p>@Html.ActionLink(engineer.Name, "Show", "Engineers", new {id = engineer.EngineerId})</p>
}